{{#module}}
<div class="list-box">
    <div data-region="main"></div>
</div>
{{/module}}
{{#view "main"}}
<div class="mbox">
    <h1 class="brand-title">二维码</h1>
    <div id="qr-box" class="qrcode"></div>
</div>
{{/view}}