{{#module}}
    <div class="child-box" data-region="main"></div>
{{/module}}
{{#view "main"}}
    <a class="btn-a" href="#/routechild/page1/123">video</a>
    <a class="btn-a" href="#/routechild/page2/456">编辑器</a>
    <div class="parent-page" id="parent-page">我是父页面</div>
{{/view}}
